@media (min-width: 1200px) {

	.music-container {
		width: 30%;
		margin-top: -130px;
	}
	
	.wrapper {
		top: 50px;
	}

	#title p {
		font-size: 1.1em;
	}

	.block-video video {
		width: 60%;
	}

}

@media (min-width: 979px) and (max-width: 1199px) {

	.music-container {
		width: 40%;
		margin-top: -130px;
	}
	
	.wrapper {
		top: 50px;
	}

	.block-video video {
		width: 60%;
	}

}

@media (min-width: 769px) and (max-width: 979px) {

	.music-container {
		width: 60%;
		margin-top: -70px;
	}
	
	.wrapper {
		top: 50px;
	}

	.block-video video {
		width: 60%;
	}

}

@media (min-width: 640px) and (max-width: 768px) {

	.music-container {
		width: 60%;
		margin-top: -70px;
	}
	
	.wrapper {
		top: 50px;
	}

	.block-video video {
		width: 60%;
	}

}

@media (min-width: 480px) and (max-width: 640px) {

	.music-container {
		width: 80%;
		margin-top: -70px;
	}
	
	.wrapper {
		top: 50px;
	}

}

@media (min-width: 320px) and (max-width: 480px) {

	.soundbutton {
		width: 40px;
		height: 40px;
	}

	.music-container {
		width: 100%;
		margin-top: -170px;
	}

	.music-container {
		padding: 10px 0;
	}

	#title p {
		font-size: 1.2em;
	}

	.img-container {
		right: 57%;
		margin-top: -5%;
	}

	.img-container img {
		width: 80px;
		height: 80px;
	}

}

/* 

	!!! Extra Media Requests !!!

*/

@media (min-width: 320px) and (max-width: 374px) {

	#title p {
		font-size: 1em;
	}

	.img-container {
		right: 53%;
		margin-top: -6%;
	}

	.img-container img {
		width: 80px;
		height: 80px;
	}

}
